extends layout

block content
  br
  h2 Manage Areas
  p Add, edit, and delete information about different areas for your charity campaigns.
  h2 User Feedback
  p View and manage user feedback on different areas.
  h2 User Visits
  p Track and manage user visits to charity areas.
